/* Fix user-agent */

* {
  box-sizing: border-box;
}


.page {
  height: 100%;
  position: absolute;
  width: 100%;
}


body {
  overflow: hidden;
}

#container {
  padding-top: 65px;
}

.SearchBox {
  position: fixed;
  width: 60vw;
}

.RecordList {
  margin-top: 100px;
  display: inline-block;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  top: 100px;
  bottom: 5%;
}
