/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
  "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #383838;
  display: none;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: fixed;

  text-align: center;
  top: 40%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  max-width: 100%;
}

.login.page .form .roomnameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  max-width: 80%;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.loginPageTitle {
  height: 100px;
  margin-top: -100px;
  position: fixed;
  text-align: center;
  top: 25%;
  width: 100%;
  color: white;
}

.loginTitleText {
  display: inline;
}

.login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

.login.page .roomnameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .roomnameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */
.mainAreas {
  padding-top: 50px;
  width: 100%;
}

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.datetime {
  font-size: 80%;
  color: #339933;
}

.messageType {
  font-size: 80%;
  color: #cc66ff;
}

.users {
  font-size: 200%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.userArea{
  height: 100%;
  padding-bottom: 60px;
  position: fixed;
  left: 2%;
}

.messages {
  height: 100%;
  margin: 0;
  padding: 10px 20px 50px 20px;
}

.users {
  height: 70%;
  margin: 0;
  padding: 10px 20px 50px 20px;
  opacity: 0.6;
  background-color: #FAFAFA;
  box-shadow: inset 0px 0px 35px 9px #CFCFCF;
  max-width: 220px;
}

.message.typing .messageBody {
  color: gray;
}

.message .messageBody {
  word-wrap: break-word;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  font-size: 2.2vh;
}

.username:hover {
  background: #f0f0f0;
}

.userlist {
  font-size: 2vh;
  padding-right: 0;
  padding-bottom: 10px;
}

/* Input */

.form-control {
  bottom: 0;
  height: 60px;
  left: 0px;
  outline: none;
  padding-left: 10px;
  position: absolute;
}

.control-panel{
  position: fixed;
  float: right;
  right: 3%;
  bottom: 70px;
}

.media-panel{
}

.sessionType-icon {
  float: right;
  right: 5px;
  top: 18px;
  display: none;
}

.inputMessage {
  font-size: 100%;
  border: 5px;
  resize: none;
  width: 100%;
}

.privateMessage {
  font-size: 100%;
  border: 2px;
  resize: none;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.callStatus {
  display: none;
}

.context-dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 5px;
}

#contextMenu {
  position: absolute;
  display: none;
}

.videos {
  display: none;
}

.remoteVideo {
  width: 100%;
  height: auto;
}

.localVideo {
  width: 20%;
  height: auto;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.audios {
  display: none;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1 {
  border: 3px solid #fff;
  padding: 25px;
  margin: 15px 30px;
  color: #fff;
  width: 300px;
  max-width: 80%;
}

.btn-1a:hover,
.btn-1a:active {
  color: #000;
  background: #fff;
}

.navbar .navbar-fixed-top {
  height: 50px
}

.chatoption {
  display: none
}

.mediaControls {
  display: none
}

.mute {
  margin-left: 20px;
}

.statusbar {
  position: fixed;
  bottom: 52px;
}

.navbarContainer {
  width: 100%;
  padding-right: 3%;
}

#fileInput {
  display: none;
}

.blinkOnAppear {
  -webkit-animation: blink7 9s;
  animation: blink7 9s;
}

@-webkit-keyframes blink7 {
  0%  {opacity: 1}
  8%  {opacity: 0}
  16%  {opacity: 1}
  25% {opacity: 0}
  33%  {opacity: 1}
  42%  {opacity: 0}
  50% {opacity: 1}
  58%  {opacity: 0}
  67% {opacity: 1}
  75% {opacity: 0}
  83% {opacity: 1}
  92% {opacity: 0}
  100%  {opacity: 1}
}

@keyframes blink7 {
  0%  {opacity: 1}
  8%  {opacity: 0}
  16%  {opacity: 1}
  25% {opacity: 0}
  33%  {opacity: 1}
  42%  {opacity: 0}
  50% {opacity: 1}
  58%  {opacity: 0}
  67% {opacity: 1}
  75% {opacity: 0}
  83% {opacity: 1}
  92% {opacity: 0}
  100%  {opacity: 1}
}

.blinkOnAppearShort {
  -webkit-animation: blink4 5s;
  animation: blink4 5s;
}

@-webkit-keyframes blink4 {
  0%  {opacity: 1}
  16%  {opacity: 0}
  33%  {opacity: 1}
  49% {opacity: 0}
  66% {opacity: 1}
  83% {opacity: 0}
  100%  {opacity: 1}
}

@keyframes blink4 {
  0%  {opacity: 1}
  16%  {opacity: 0}
  33%  {opacity: 1}
  49% {opacity: 0}
  66% {opacity: 1}
  83% {opacity: 0}
  100%  {opacity: 1}
}

#pageLogo {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

:-webkit-full-screen .remoteVideo {
  width: 100%;
  height: 100%;
}

.ssllogo {
  font-family: arial;
  font-size: 10px;
  color: #212121;
  text-decoration: none;
  float: right;
  position: fixed;
  right: 0;
}

.loginPageText {
  font-size: 150%;
  color: white;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
  padding: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.scrollArrow {
    position: fixed;
    right: 1%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.scrollArrow.upArrow {
  top: 39%;
  opacity: 0.5;
}
.scrollArrow.downArrow {
  top: 52%;
  opacity: 0.5;
}
.scrollArrow i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration:none;
}
.scrollArrow:hover {
    background: rgba(0, 0, 0, 0.9);
}
.scrollArrow:hover i {
    color: #fff;
}
.scrollArrow.upArrow:hover i {
    top: 5px;
}
.scrollArrow.downArrow:hover i {
    top: 21px;
}
