doctype html
html
  head
    meta(http-equiv='Content-type', charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='QM')
    title NoBet
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body
    h1 NoBet Odds
    #container
      p If I can see this, it means JSX is not working correctly
    script(src='shared/es5-shim.min.js')
    script(src='shared/es5-sham.min.js')
    script(src='shared/jquery.min.js')
    script(src='shared/console-polyfill.js')
    script(src='shared/react.js')
    script(src='shared/JSXTransformer.js')
    script(type='text/jsx' src='js/nobet.js')
