doctype html
html
  head
    meta(http-equiv='Content-type', charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='QM')
    title NoBet
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/app.css', rel='stylesheet')
  body
    h1 NoBet Odds
    #container
    script(src='http://code.jquery.com/jquery-1.10.0.min.js')
    script(src='http://fb.me/react-0.12.2.js')
    script(src='http://fb.me/JSXTransformer-0.12.2.js')
    script(src='js/common.js')
    script(type='text/jsx' src='js/app.js')
